.container {
  position: absolute;
  bottom: 0;
  z-index: 4;
  height: fit-content;
  width: 100%;
  left: 0px;
  max-height: 96vh;
  background-color: var(--colorWhite);
  border-radius: 12px 12px 0px 0px;
  box-shadow: 0px -1px 56px rgba(50, 50, 50, 0.266);
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.example::-webkit-scrollbar {
  display: none;
}

.title {
  font-size: var(--fontSize3);
  font-weight: var(--fontwight2);
}
.closeButtonWrapper {
  background-color: var(--colorRedLight);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colorRed);
  width: 40px;
  height: 40px;
  border-radius: 30px;
}
.closeButtonWrapper svg {
  height: 60%;
  width: 60%;
}

.form {
  height: fit-content;
  max-height: 72vh;
  display: flex;
  flex-direction: column;
  padding: 12px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.example::-webkit-scrollbar {
  display: none;
}

.formLable {
  font-size: var(--fontSize2);
  font-weight: var(--fontwight1);
  color: var(--colorText100);
}
.formInput {
  width: 100%;
  margin-top: 6px;
  margin-bottom: 24px;
  padding: 12px;
  border: 1px solid #dadce0;
  border-radius: 6px;
  font-size: var(--fontSize2);
  font-weight: var(--fontwight1);
  color: var(--colorText100);
}

.formInput::placeholder {
  color: var(--colorText50);
}
.formInput::-webkit-input-placeholder {
  color: var(--colorText50);
}

.skillWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  border: 1px solid #dadce0;
  align-items: start;
  width: 100%;
  padding: 0px;
  border-radius: 6px;
  margin-top: 6px;
  margin-bottom: 24px;
}

.skillWrapper input {
  margin: 12px 0px 0px 0px;
  border: none;
  border-top: 1px solid #dadce0;
  border-radius: 0px;
}
.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colorAccentBlueLight);
  font-size: var(--fontSize2);
  font-weight: var(--fontwight1);
  padding: 6px 12px;
  margin: 12px 6px 0px 12px;
  border-radius: 30px;
}
.skill svg {
  height: 16px;
  width: 16px;
  margin-left: 12px;
}
.buttonWraper {
  width: 100%;
  height: fit-content;
  border-top: 1px solid #dadce0;
  padding: 12px;
}

.formButtom {
  background-color: var(--colorSecondary100);
  color: var(--colorWhite);
  font-size: var(--fontSize3);
  font-weight: var(--fontwight2);
  padding: 12px 12px;
  border-radius: 6px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    width: 80%;
    left: 10%;
  }

  .title {
    font-size: var(--fontSize4);
  }
}
@media screen and (min-width: 986px) {
  .container {
    width: 60%;
    left: 20%;
  }
  .title {
    font-size: var(--fontSize6);
  }

  .formLable {
    font-size: var(--fontSize4);
  }
  .formInput {
    font-size: var(--fontSize3);
  }
}
