/* NewAssessmentCardClickable.module.css */

/* Container styles */
.container {
  width: 90%;
  min-height: fit-content;
  height: 200px;
  border-radius: 12px;
  background-color: var(
    --colorbackground
  ); /* Background color using custom CSS variable */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;
}

/* Icon wrapper styles */
.iconWrapper {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: var(--colorWhite); /* White background color */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Icon styles */
.iconWrapper svg {
  width: 60%;
  height: 60%;
  color: var(
    --colorSecondary100
  ); /* Secondary color using custom CSS variable */
}

/* Heading styles */
.container h4 {
  font-size: var(--fontSize3); /* Font size using custom CSS variable */
  font-weight: var(--fontWeight2); /* Font weight using custom CSS variable */
}

/* Description styles */
.container p {
  font-size: var(--fontSize2); /* Font size using custom CSS variable */
  font-weight: var(--fontWeight1); /* Font weight using custom CSS variable */
  text-align: justify;
  text-justify: inter-word;
  width: 80%;
}

/* Media queries for responsiveness */
@media screen and (min-width: 786px) {
  .container {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 986px) {
  /* Adjusted icon wrapper styles for larger screens */
  .iconWrapper {
    height: 70px;
    width: 70px;
    border-radius: 80px;
  }

  /* Adjusted heading styles for larger screens */
  .container h4 {
    font-size: var(--fontSize5); /* Font size using custom CSS variable */
    font-weight: var(--fontWeight1); /* Font weight using custom CSS variable */
  }
}
