.borderPrimary {
  border: 1px solid var(--colorBorder);
}

.borderPrimaryRight {
  border-right: 1px solid var(--colorBorder);
}
.borderPrimaryLeft {
  border-left: 1px solid var(--colorBorder);
}
.borderPrimaryTop {
  border-top: 1px solid var(--colorBorder);
}
.borderPrimaryBottom {
  border-bottom: 1px solid var(--colorBorder);
}
