/* Global CSS Variables */
:root {
  /* Text Colors */
  --colorText100: #1c4980; /* Dark blue text color */
  --colorText50: #8da4bf; /* Light blue text color */
  --colorWhite: #fff; /* White text color */
  --colorSuccess: #05c165; /* Success color */

  /* Secondary Colors */
  --colorSecondary100: #0073e6; /* Primary blue color */
  --colorSecondary10: #e5f1fc; /* Light blue background color */
  --colorSecondary5: #f2f8fe; /* Very light blue background color */

  /* Accent Colors */
  --colorAccentPink: #e9407a; /* Pink accent color */
  --colorRedLight: #fbebea; /* Light red background color */
  --colorRed: #d63500; /* Red color */

  --colorAccentPinkLight: #fce8ef; /* Light pink background color */
  --colorAccentPurpleLight: #ebe8fd; /* Light purple background color */
  --colorAccentPurple: #6548ee; /* Purple accent color */
  --colorAccentRoyalBlue: #3079e1; /* Royal blue accent color */
  --colorAccentNeonBlue: #6548ee; /* Neon blue accent color */
  --colorAccentBlueLight: #ddedff; /* Light blue background color */

  /* Background and Border Colors */
  --colorbackground: #f6f8fa; /* Light gray background color */
  --colorBorder: #dadce0; /* Light gray border color */
}

/* Color Utility Classes */
.colorText100 {
  color: var(--colorText100);
}

.colorText50 {
  color: var(--colorText50);
}

.colorWhite {
  color: var(--colorWhite);
}

.colorAccentPink {
  color: var(--colorAccentPink);
}

.colorAccentPurpleLight {
  color: var(--colorAccentPurpleLight);
}

.colorAccentPurple {
  color: var(--colorAccentPurple);
}

.colorAccentRoyalBlue {
  color: var(--colorAccentRoyalBlue);
}

.colorAccentNeonBlue {
  color: var(--colorAccentNeonBlue);
}
