:root {
  --colorText100: #1c4980;
  --colorText50: #8da4bf;
  --colorWhite: #fff;
  --colorSuccess: #05c165;
  --colorSecondary100: #0073e6;
  --colorSecondary10: #e5f1fc;
  --colorSecondary5: #f2f8fe;
  --colorAccentPink: #e9407a;
  --colorRedLight: #fbebea;
  --colorRed: #d63500;

  --colorAccentPinkLight: #fce8ef;
  --colorAccentPurpleLight: #ebe8fd;
  --colorAccentPurple: #6548ee;
  --colorAccentRoyalBlue: #3079e1;
  --colorAccentNeonBlue: #6548ee;
  --colorAccentBlueLight: #ddedff;

  --colorbackground: #f6f8fa;
  --colorBorder: #dadce0;
}

.colorText100 {
  color: var(--colorText100);
}
.colorText50 {
  color: var(--colorText50);
}
.colorWhite {
  color: var(--colorWhite);
}
.colorSuccess {
  color: var(--colroSuccess);
}
.colorAccentPink {
  color: var(--colorAccentPink);
}

.colorAccentPurpleLight {
  color: var(--colorAccentPurpleLight);
}
.colorAccentPurple {
  color: var(--colorAccentPurple);
}
.colorAccentRoyalBlue {
  color: var(--colorAccentRoyalBlue);
}
.colorAccentNeonBlue {
  color: var(--colorAccentNeonBlue);
}
