/* Flexbox Utility Classes */

/* Display flex */
.dFlex {
  display: flex;
}

/* Flex direction column */
.fColumn {
  flex-direction: column;
}

/* Justify content center */
.flexJustifyCenter {
  justify-content: center;
}

/* Justify content space between */
.flexJustifySpaceBetween {
  justify-content: space-between;
}

/* Justify content space around */
.flexJustifySpaceAround {
  justify-content: space-around;
}

/* Align items center */
.flexAlignCenter {
  align-items: center;
}

/* Align items space between */
.flexAlignSpaceBetween {
  align-items: space-between;
}

/* Align items space around */
.flexAlignSpaceAround {
  align-items: space-around;
}

/* Flex grow 1 */
.flex1 {
  flex: 1;
}

/* Flex grow 2 */
.flex2 {
  flex: 2;
}

/* Flex grow 3 */
.flex3 {
  flex: 3;
}

/* Flex grow 4 */
.flex4 {
  flex: 4;
}
