:root {
  --fontSize1: 10px;
  --fontSize2: 12px;
  --fontSize3: 14px;
  --fontSize4: 16px;
  --fontSize5: 18px;
  --fontSize6: 20px;
  --fontSize7: 22px;
  --fontWeight1: 500;
  --fontWeight2: 600;
  --fontWeight3: 700;
}
/* Used classes */
.fontSize5 {
  font-size: var(--fontSize5);
}

/* Used classes */
.fontSize3 {
  font-size: var(--fontSize3);
}

/* Used classes */
.fontSize2 {
  font-size: var(--fontSize2);
}

/* Used classes */
.fontSize1 {
  font-size: var(--fontSize1);
}

/* Used classes */
.fontWeight1 {
  font-weight: var(--fontWeight1);
}

/* Used classes */
.fontWeight2 {
  font-weight: var(--fontWeight2);
}
