/* Margin utility classes */

/* Margin classes for all sides */
.m1 {
  margin: 2px;
}
.m2 {
  margin: 4px;
}
.m3 {
  margin: 6px;
}
.m4 {
  margin: 8px;
}
.m5 {
  margin: 12px;
}

/* Margin classes for left side */
.m1 {
  margin-left: 2px;
}
.ml2 {
  margin-left: 4px;
}
.ml3 {
  margin-left: 6px;
}
.ml4 {
  margin-left: 8px;
}
.ml5 {
  margin-left: 12px;
}

/* Margin classes for right side */
.mr1 {
  margin-right: 2px;
}
.mr2 {
  margin-right: 4px;
}
.mr3 {
  margin-right: 6px;
}
.mr4 {
  margin-right: 8px;
}
.mr5 {
  margin-right: 12px;
}

/* Margin classes for top side */
.mt1 {
  margin-top: 2px;
}
.mt2 {
  margin-top: 4px;
}
.mt3 {
  margin-top: 6px;
}
.mt4 {
  margin-top: 8px;
}
.mt5 {
  margin-top: 12px;
}

/* Margin classes for bottom side */
.mb1 {
  margin-bottom: 2px;
}
.mb2 {
  margin-bottom: 4px;
}
.mb3 {
  margin-bottom: 6px;
}
.mb4 {
  margin-bottom: 8px;
}
.mb5 {
  margin-bottom: 12px;
}
